<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <style>

            body{
                margin: 0;
                background-color: black;
            }

            *{
                box-sizing: border-box;
            }

            .map{
                width: 46vh; /* 5.75 * 8*/
                margin: 0 auto;
                position: relative;
            }

            .row{
                display: flex;
            }

            .casilla{
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                width: 5.75vh;
                height: 5.75vh; 
                background-color: white;
                position: relative;
            }

            .casilla.is-path{
                background-color: brown;
            }

            .casilla:not(.is-path):not(.is-selected):hover{
                border: 1px solid red;
                cursor: pointer;
            }

            .casilla{
                position: relative;
            }

            .casilla .tower{
                position: absolute;
                width: 5.75vh;
                height: 5.75vh; /* 100/16 menos un margen para el menu abajo*/
                top: 0;
                left: 0;
                background: url(tower.png);
                transform: rotate(0deg);
                background-size: cover;
            }   

            .casilla.is-selected{
                z-index: 8;
            }       

            .casilla.is-selected .range{
                display: block;
            }

            .range{
                border-radius: 50%;
                background-color: rgba(0,0,0,.2);
                position: absolute;
                display: none;
            }  

            .enemy{
                width: 1vh;
                height: 1vh;
                background-color: red;
                position: absolute;
                z-index: 10;
            }

            .tower-display{
                position: absolute;
                background: white;
                width: 30vh;
                top: 15vh;
                left: calc(50% - 15vh);  
                z-index: 9;       
                border: 2px solid black;
                border-radius: 6px       
            }

            .tower-display.up{
                top: initial;
                bottom: 15vh;
            }

            .tower-display.left{
                left: initial;
                right: 7vh;
            }         

            .tower-display.right{
                left: initial;
                left: 7vh;
            }    

            .tower-display .close{
                position: absolute;
                top: 4px;
                right: 2px;
                width: 22px;
                height: 22px;
                font-size: 22px;
                line-height: 1;
            }               

            .backdrop{
                background-color: transparent;
                position: fixed;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index:8;
            }

            .menu{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .menu .start{
                font-size: 36px;
                color: white;
            }

            .is-shooting{
                background-color: red;
            }


        </style>

        <main ng-controller="tdCtrl">
            <div class="map">
                <span class="enemy"
                        ng-repeat="enemy in enemies"
                        ng-style="{
                            left: enemy.left() + 'vh',
                            top: enemy.top() + 'vh'
                        }">
                </span>                   
                <div ng-repeat="row in map track by $index" class="row">
                    <div class="casilla"
                        ng-repeat="casilla in row track by $index"  
                        ng-class="{
                            'is-path': casilla === null, 
                            'is-selected': casilla.id && selected_tower.id === casilla.id,
                            'is-shooting': casilla.shooting
                        }" 
                        ng-click="addTower($parent.$index, $index)">

                            <tower ng-if="casilla.id"></tower>
                            <tower-range ng-if="casilla.id"></tower-range> 
                            <tower-display ng-if="casilla.id && selected_tower.id === casilla.id"></tower-display>
                    </div>
                </div>                         
            </div>


            <nav class="menu">
                <a href ng-click="startGame()" class="start">start</a>
            </nav>
        </main>



        <script src="libs/angular.min.js"></script>
        <script src="libs/hammer.min.js"></script>
        <script src="libs/angular.hammer.min.js"></script>

        <script>

            angular.module('myApp', ['hmTouchEvents'])

            .directive('tower', function(){
                return {
                    scope: false,
                    replace: true,
                    template: `
                                <div class="tower" ng-style="{transform: 'rotate(' + casilla.angle + 'rad)'}">
                                    <div class="shot" 
                                            ng-if="casilla.shot"
                                            ng-style="{
                                                left: casilla.shot.left() + 'vh',
                                                top:  casilla.shot.top() + 'vh'
                                            }"></div>
                                </div>`
                }
            })

            .directive('towerDisplay', function(){
                return {
                    scope: false,
                    replace: true,
                    template: `<div>
                                    <div class="backdrop"></div>
                                    <div class="tower-display" ng-class="{up: selected_tower.row > 7, left: selected_tower.col > 4, right: selected_tower.col < 3}">
                                        <p>{{selected_tower.name}}</p>
                                        <span class="close" ng-click="closeTowerDisplay();$event.stopPropagation();">✕</span>
                                        <ul>
                                            <li><strong>Range:</strong>{{selected_tower.range}}</li>
                                            <li><strong>Attak Speed:</strong>{{selected_tower.attack_speed}}</li>
                                            <li><strong>P. Attak:</strong>{{selected_tower.pattack}}</li>
                                            <li><a href ng-click="removeTower();$event.stopPropagation();">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>`  
                }
            })

            .directive('towerRange', function(){
                return{
                    scope: false,
                    replace: true,
                    template: `
                                <div class="range"
                                    ng-style="{
                                        width: casilla.range + 'vh', 
                                        height: casilla.range + 'vh',
                                        left:  casilla.rangePos() + 'vh',
                                        top:  casilla.rangePos() + 'vh'
                                    }"></div>`
                }
            })

            .controller('tdCtrl', function($scope, $interval){

                var path;
                $scope.map = [];
                $scope.selected_tower = {};

                $scope.addTower = addTower;                
                $scope.startGame = startGame;

                $scope.closeTowerDisplay = closeTowerDisplay;
                $scope.removeTower = removeTower;

                initMap();

                casilla_width= 5.75;


                function removeTower(){
                    $scope.map[$scope.selected_tower.row][$scope.selected_tower.col] = {}
                }

                function closeTowerDisplay(){
                    $scope.selected_tower= {};
                }

                function startGame(){

                    $scope.enemies = [];
                    var towers = getTowers();
                    
                    addNewEnemy(0);

                    var enemy;
                    var max_enemies = 2; //extra enemies   

                    var game_loop = $interval(function(){          

                        if(stopLoop()){
                            $interval.cancel(game_loop)
                            return;
                        }

                        for(var i = 0; i < $scope.enemies.length; i++){
                            enemy = $scope.enemies[i];
                            if(enemy.step < path.length -1){
                                moveEnemy(enemy)
                            }
                        }

                        if($scope.enemies.length <= max_enemies && $scope.enemies[$scope.enemies.length-1].step == 1){
                            addNewEnemy(max_enemies);
                            max_enemies--;
                        }

                        for(var i = 0; i < towers.length; i++){
                            for(var j =0; j < $scope.enemies.length; j++){

                                if(!towers[i].target || towers[i].target && towers[i].target.id == $scope.enemies[j].id){
                                    towers[i].isEnemyOnRange($scope.enemies[j]);
                                }

                            }
                        }

       

                    },1000/45)                    
                }

                function getTowers(){
                    var towers = [];
                    for(var i = 0; i < 16; i++){
                        for(var j = 0; j < 8; j++){
                            if($scope.map[i][j] && $scope.map[i][j].id){
                                towers.push($scope.map[i][j])
                            }
                        }                        
                    }
                    return towers;
                }

                function addTower(row, col){
                    if(!$scope.map[row][col].id){
                        var new_tower = {
                            name: 'Normal tower',
                            row: row,
                            col: col,
                            id : row + '-' + col,
                            angle: 0,
                            pattack: 1, //daño que hace a cada golpe
                            attack_speed: 5, //velocidad de ataque
                            left: col * casilla_width + casilla_width / 2,
                            top: row * casilla_width + casilla_width / 2,
                            range: casilla_width * 3,
                            shooting: false,
                            shot: null, // {top, left}
                            rangePos: function(){
                                return this.range/2 * -1 + casilla_width/2
                            },
                            shoot: function(){
                                if(this.shot){
                                    
                                }
                            },
                            isEnemyOnRange: function(enemy){
                                    var enemy_left = enemy.left() + enemy.width / 2;
                                    var enemy_top = enemy.top() + enemy.width / 2;

                                    var x_distance = Math.abs( enemy_left - this.left )
                                    var y_distance = Math.abs( enemy_top - this.top )
                                    var distance = Math.sqrt(Math.pow(x_distance,2) + Math.pow(y_distance,2))

                                    var is_in_range = distance < this.range/2;

                                    this.shooting = is_in_range

                                    if(is_in_range){
                                        //B es tower A es enemy C es tower recta
 
                                        this.target = enemy

                                        var A = { x: enemy.left(), y: enemy.top() }
                                        var B = { x: this.left, y: this.top }
                                        var C = { x: this.left, y: this.top - casilla_width / 2 }
                                        var AB = Math.sqrt(Math.pow(B.x-A.x,2) + Math.pow(B.y-A.y,2));
                                        var BC = Math.sqrt(Math.pow(B.x-C.x,2) + Math.pow(B.y-C.y,2));
                                        var AC = Math.sqrt(Math.pow(C.x-A.x,2) + Math.pow(C.y-A.y,2));

                                        var reverse = enemy.left() < this.left ? -1 : 1

                                        this.angle = Math.acos((BC*BC+AB*AB-AC*AC) / (2*BC*AB) ) * reverse;

                                    }else{
                                        this.target = null
                                    }


                                    return is_in_range
                            }
                        }
                        $scope.map[row][col] = new_tower;
                    }else{
                        $scope.selected_tower = $scope.map[row][col];
                    }

                }

                function initMap(){
                    path = [
                            [0,3],[1,3],[1,2],[1,1],[1,0],[2,0],[3,0],[4,0],[5,0],[5,1],
                            [5,2],[4,2],[3,2],[3,3],[3,4],[3,5],[3,6],[3,7],[4,7],[5,7],
                            [6,7],[6,6],[6,5],[6,4],[7,4],[8,4],[9,4],[9,5],[9,6],[9,7],
                            [10,7],[11,7],[12,7],[12,6],[12,5],[12,4],[12,3],[12,2],[11,2],[10,2],
                            [10,1],[10,0],[11,0],[12,0],[13,0],[14,0],[14,1],[14,2],[14,3],[15,3]
                        ]

                    for(var i = 0; i < 16; i++){
                        $scope.map.push([{},{},{},{},{},{},{},{}]) 
                    }

                    for(var i = 0; i < path.length; i++){
                        $scope.map[path[i][0]][path[i][1]] = null;
                    }                    
                }

                function getStepCenterLeft(s){
                    return path[s][1] * casilla_width + casilla_width/2 - 0.5
                }

                function getStepCenterTop(s){
                    return path[s][0] * casilla_width + casilla_width/2 - 0.5
                }            

                function addNewEnemy(id){
                    $scope.enemies.push({
                        id: id,
                        step: 0,
                        offset_left: 0,
                        offset_top: (casilla_width/2 + 0.5) *-1,
                        speed: 0.1,
                        width: 1,
                        height: 1,
                        health: 90,
                        left: function(){
                            return getStepCenterLeft(this.step) + this.offset_left
                        },
                        top: function(){
                            return getStepCenterTop(this.step) + this.offset_top
                        },                        
                        goesLeft: function(){
                            return path[this.step][0] == path[this.step+1][0] &&
                                    path[this.step][1] > path[this.step+1][1]
                        },
                        goesRight: function(){
                            return path[this.step][0] == path[this.step+1][0] &&
                                    path[this.step][1] < path[this.step+1][1]                        
                        },
                        goesUp: function(){
                            return path[this.step][1] == path[this.step+1][1] &&
                                    path[this.step][0] > path[this.step+1][0]                        
                        },
                        goesDown: function(){
                            return path[this.step][1] == path[this.step+1][1] &&
                                    path[this.step][0] < path[this.step+1][0]                        
                        }
                    }) 
                }    

                function increaseStep(enemy){
                    enemy.step++;
                    enemy.offset_left = 0;
                    enemy.offset_top = 0;
                }     

                function moveEnemy(enemy){
                    if(enemy.goesLeft()){
                        enemy.offset_left -= enemy.speed
                        if(enemy.left() <= getStepCenterLeft(enemy.step+1)){
                            increaseStep(enemy)
                        }
                        return;
                    }

                    if(enemy.goesRight()){
                        enemy.offset_left += enemy.speed
                        if(enemy.left() >= getStepCenterLeft(enemy.step+1)){
                            increaseStep(enemy)
                        }
                        return;
                    }

                    if(enemy.goesDown()){
                        enemy.offset_top += enemy.speed
                        if(enemy.top() >= getStepCenterTop(enemy.step+1)){
                            increaseStep(enemy)
                        }
                        return;
                    }

                    if(enemy.goesUp()){
                        enemy.offset_top -= enemy.speed
                        if(enemy.top() <= getStepCenterTop(enemy.step+1)){
                            increaseStep(enemy)
                        } 
                    }                    
                }

                function stopLoop(){
                    var stop_loop = true;
                    for(var i = 0; i < $scope.enemies.length; i++){
                        enemy = $scope.enemies[i];
                        stop_loop = stop_loop && enemy.step >= path.length - 1
                    }
                    return stop_loop;
                } 
                         

            })



        </script>

    </body>
</html>